{% if params is empty %}
    {% set params = {} %}
{% endif %}
<ul class="previous-next-navigation">
    <!-- Previous page link -->
    {% if page > 1 %}
        <li class="previous">
            <a id="pagination-previous" href="{{ url(route, {'page': page - 1}|merge(params)) }}">
                {{ 'Previous'|t }} <span class="visuallyhidden">{{ 'page'|t }}</span>
                <span class="page-numbers">{{ page - 1 }} {{ 'of'|t }} {{ pageTotal }}</span>
            </a>
        </li>
    {% endif %}

    {% if page < pageTotal %}
        <li class="next">
            <a id="pagination-next" href="{{ url(route, {'page': page + 1}|merge(params)) }}">
                {{ 'Next'|t }} <span class="visuallyhidden">{{ 'page'|t }}</span>
                <span class="page-numbers">{{ page + 1 }} {{ 'of'|t }} {{ pageTotal }}</span>
            </a>
        </li>
    {% endif %}
</ul>
