{% if event is not empty %}
    {% if token %}
        <div class="status-summary">
            <div class="column-two-thirds">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{ 'Thank you for verifying your email address <span class="bold-small">%s</span>, you are now register to the event'|format(email)|t }}
                </p>
            </div>
        </div>
    {% endif %}
    <div>
        <div>
            <a class="back-link"
               href="{{ url('events.search', {'page': page}) }}">
                {{ '&lt; &nbsp;Back to search results'|t }}
            </a>
        </div>
        <div class="content-heading">
            <h1>{{ 'Event'|t }}</h1>
            <h2 class="heading-large">{{ event._source.title }}</h2>
            <h3 class="heading-medium">{{ event._source.summary }}</h3>
            <div class="meta">
                <div class="meta-data">
                    <p>
                        {% set flag = event._source.country_code|lower %}
                        {% if flag == 'uk' %}
                            {% set flag = 'gb' %}
                        {% endif %}
                        <span class="flag-icon flag-icon-{{ flag }}"></span>
                        {{ event._source.country }}
                    </p>
                </div>
                {% if event._source.fee is not empty %}
                    <div class="meta-data">
                        <p>{{ 'A delegate registration fee of <span class="bold-small">£%d +VAT</span> will apply. Delegates must cover the cost for flight, accommodation, evening meals and other travel on the mission'|format(event._source.fee)|t }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid-row grid-row-1">
        <div class="column-one-third sticky-nav-container">

            <div class="contents-list sticky-sidebar">
                <h3 class="heading-medium sticky-sidebar-header">{{ 'Contents'|t }}</h3>
                <ul class="sticky-sidebar-content">
                    <li><a href="#information">{{ 'Event Information'|t }}</a></li>
                    <li><a href="#programme">{{ 'Programme'|t }}</a></li>
                    <li><a href="#direction">{{ 'Directions'|t }}</a></li>
                    <li><a href="#booking">{{ 'Booking form'|t }}</a></li>
                </ul>

                <a class="button-brand" href="#register">{{ 'Register for this event'|t }}</a>
            </div>
        </div>
        <div class="column-two-thirds contents-text-block">
            <h3 class="heading-medium" id="information">{{ 'Event Information'|t }}</h3>
            <p>
                {% if opportunity._source.description %}
                    {{ opportunity._source.description }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="programme">{{ 'Programme'|t }}</h3>
            <p></p>
            <h3 class="heading-medium" id="direction">{{ 'Directions'|t }}</h3>
            <p></p>
        </div>
        <div id="navstop"></div>
    </div>
    <hr/>
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-medium single-header-one-col" id="register">{{ 'Register for the event'|t }}</h3>
        </div>
        <div class="column-two-thirds">
            <div class="verify-email">
                {{ form_email }}
                <p>{{ 'To register for this event we need to validate your email. You will be sent a 6 digit confirmation email containing a verfication code. Simply copy this into the field below to continue.'|t }}</p>
                <hr />
            </div>
        </div>
    </div>
{% endif %}


