<div class="content-heading">
    <h1>{{ 'Events'|t }}</h1>
    <h2 class="heading-large">{{ 'List of the upcoming events'|t }}</h2>
</div>

<div class="row">
    {% if results is not null %}
        {% if total > 0 %}
            <div class="row">
                <h3 class="heading-xlarge">{{ total }} <span class="font-xsmall">{{ 'events '|t }}</span></h3>
            </div>
            {% for row in results %}
                <div class="row row-bordered">
                    <h3>
                        {% if row._source.type == 'merlin' or row._source.type == 'eventBrite' %}
                            <a rel="external" href="{{ row._source.url }}" target="_blank">
                                {{ row._source.title }}
                            </a>
                        {% else %}
                            <a href="{{ url('events.details', {'eventId': row._id}) }}">
                                {{ row._source.title }}
                            </a>
                        {% endif %}
                    </h3>
                    <p class="meta-inline font-small">
                        {# Start and End date #}
                        {% if row._source.start_date|date("d-m-Y") != row._source.end_date|date("d-m-Y") %}
                            {{ row._source.start_date|date("d-m-Y") }} |
                            {{ row._source.end_date|date("d-m-Y") }}
                        {% else %}
                            {{ row._source.start_date|date("d-m-Y") }}
                        {% endif %}
                        {# Country of origin #}
                        {% if row._source.country_code is not empty %}
                            |
                            {% set flag = row._source.country_code|lower %}
                            {% if flag == 'uk' %}
                                {% set flag = 'gb' %}
                            {% endif %}
                            <span class="flag-icon flag-icon-{{ flag }}"></span>
                            {{ row._source.country }}
                        {% endif %}
                    </p>
                    <p class="description">
                        {% if row._source.summary %}
                            {{ row._source.summary|truncate(240, true)|raw }}
                        {% else %}
                            {{ row._source.description|truncate(240, true)|raw }}
                        {% endif %}

                        {% if row._source.type == 'merlin' or row._source.type == 'eventBrite' %}
                            <a href="{{ row._source.url }}" target="_blank">
                                {{ 'more' }}
                            </a>
                        {% else %}
                            <a href="{{ url('events.details', {'eventId': row._id}) }}">
                                {{ 'more' }}
                            </a>
                        {% endif %}
                    </p>
                </div>

            {% endfor %}

            {% include 'themes/custom/een/templates/navigation/pagination.html.twig'
            with {
            'route': route,
            'page': page,
            'resultPerPage': resultPerPage,
            'pageTotal': pageTotal
            } only %}

        {% else %}
            {{ 'No Results found'|t }}
        {% endif %}
    {% endif %}
</div>




