{% set params = {} %}
{% if search %}
    {% set params = params|merge({'search': search}) %}
{% endif %}
{% if opportunity_type %}
    {% set params = params|merge({'opportunity_type': opportunity_type}) %}
{% endif %}

{% if opportunity is not empty %}
    <div>
        <div>
            <a class="back-link"
               href="{{ url('opportunities.search', params) }}">
                {{ '&lt; Back to search results'|t }}
            </a>
        </div>
        <div class="content-heading">
            <h1>{{ 'Opportunity'|t }}</h1>
            <h2 class="heading-large">{{ opportunity._source.title }}</h2>
            <div class="meta">
                <div class="meta-data">
                    <label>{{ 'Country of origin:'|t }}</label>
                    <p>
                        {% set flag = opportunity._source.country_code|lower %}
                        {% if flag == 'uk' %}
                            {% set flag = 'gb' %}
                        {% endif %}
                        <span class="flag-icon flag-icon-{{ flag }}"></span>
                        {{ opportunity._source.country }}
                    </p>
                </div>
                {% if opportunity._source.date|date('U') > '-5 days'|date('U') %}
                   <div class="meta-data">
                        <label>{{ 'Last updated:'|t }}</label>
                        <p>{{ opportunity._source.date|time_diff }}</p>
                    </div>
                {% endif %}
                <div class="meta-data">
                    <label>{{ 'Opportunity ID:'|t }}</label>
                    <p>{{ opportunity._source.id }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row grid-row-1">
        <div class="column-one-third sticky-nav-container">            
            
            <div class="contents-list sticky-sidebar">
                <h3 class="heading-medium sticky-sidebar-header">{{ 'Contents'|t }}</h3>
                <ul class="sticky-sidebar-content">
                    <li><a href="#abstract">{{ 'Abstract'|t }}</a></li>
                    <li><a href="#description">{{ 'Description'|t }}</a></li>
                    <li><a href="#partner_expertise_sought">{{ 'Partner expertise sought'|t }}</a></li>
                    <li><a href="#advantages_and_innovations">{{ 'Advantages and innovations'|t }}</a></li>
                    <li><a href="#development_stage">{{ 'Development Stage'|t }}</a></li>
                    <li><a href="#ipr">{{ 'Intellectual Property Rights (IPR)'|t }}</a></li>
                </ul>

                <a class="button-brand" href="#express_your_interest">Apply for this project</a>
                <hr/>
                <div class="save-actions">
                    <h3>Save for later</h3>
                    <div class="save-action sa-pin">
                       <a href="#">Pin to favourites</a>
                    </div>
                    <div class="save-action sa-share">
                        <a href="mailto:?subject={{ mail.subject|url_encode }}&body={{ mail.body|url_encode }}" target="_top">Share opportunity</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-two-thirds contents-text-block">
            <h3 class="heading-medium" id="abstract">{{ 'Abstract'|t }}</h3>
            <p>
                {% if opportunity._source.summary %}
                    {{ opportunity._source.summary }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="description">{{ 'Description'|t }}</h3>
            <p>
                {% if opportunity._source.description %}
                    {{ opportunity._source.description }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="partner_expertise_sought">{{ 'Partner expertise sought'|t }}</h3>
            <p>
                {% if opportunity._source.partner_expertise %}
                    {{ opportunity._source.partner_expertise }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="advantages_and_innovations">{{ 'Advantages and innovations'|t }}</h3>
            <p>
                {% if opportunity._source.advantage %}
                    {{ opportunity._source.advantage }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="development_stage">{{ 'Development Stage'|t }}</h3>
            <p>
                {% if opportunity._source.stage %}
                    {{ opportunity._source.stage }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="ipr">{{ 'Intellectual Property Rights (IPR)'|t }}</h3>
            <p>
                {% if opportunity._source.ipr or opportunity._source.ipr_comment %}
                    {{ opportunity._source.ipr }}
                    {{ opportunity._source.ipr_comment }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
        </div>
    </div>
    <hr/>
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-medium single-header-one-col" id="express_your_interest">{{ 'Apply for this project'|t }}</h3>
        </div>
        <div class="column-two-thirds">
            
            <div class="progressor">
                <h3>How it works</h3>
                <div class="step-container">
                    <ul class="progressbar">
                        <li class="active step1"><span>Submit your application to EEN</span></li>
                        <li class="step2"><span>Later, EEN advisors will present applications</span></li>
                        <li class="step3"><span>Then, client selects winning application(s)</span></li>
                    </ul>
                </div>
            </div>
            
            
            
            <form action="{{ form['#action']|url_encode }}" method="POST" class="form-opportunities">
                <div class="form-section">
                    {{ form.description }}
                </div>
                <div class="form-section">
                    {{ form.interest }}
                </div>
                <div class="form-section">
                    {{ form.more }}
                </div>
                {{ form.email }}
                <div id="edit-email--description" class="description">
                    {{ 'You will be asked to create your EEN account if you do not already have one. If you do not have an email address, '|t }}
                    <a class="edit-email--phone-number" href="#edit-phone" >{{ 'please enter your phone number instead.'|t }}</a>
                </div>
                <div class="eoi-phone-number">
                    {#<input type="hidden" id="eoi-phone-number-open" name="eoi-phone-number-open" value="0"/>#}
                    {{ form.phoneStatus }}
                    {{ form.phone }}
                </div>
                {{ form.form_build_id }}
                {{ form.form_id }}
                <hr/>
                <div>
                    <h4 class="heading-small">{{ 'By submitting this information, I understand that:'|t }}</h4>
                    <p>{{ 'An EEN adviser  will review your expression of interest and share with their client if it\'s what they\'re looking for. If we connect you, our involvement will step back at it, but we need you to keep us informed of follow on discussions and negociations'|t }}</p>
                </div>
                {{ form.actions }}
            </form>
        </div>
    </div>
{% endif %}
