{{ form }}

{% if results is not null %}
    <h1 class="heading-xlarge">{{ 'Find an opportunity'|t }}</h1>

    {% if total > 0 %}
        <div class="row">
            <h3 class="heading-small">{{ total }} {{ 'results found '|t }}</h3>
        </div>
        {% for row in results %}
            <div class="row">
                <h3>
                    {{ row._source.type }} -
                    <a href="{{ url(
                    'opportunities.details',
                    {'profileId': row._id, 'search': search, 'opportunity_type': opportunity_type}
                    ) }}"
                       id="opportunity-link">
                        {{ row._source.title }}
                    </a>
                </h3>

                <p>{{ row._source.summary }}</p>
            </div>
            <hr>
        {% endfor %}

        {% include 'themes/custom/een/templates/pagination.html.twig'
        with {'route': route, 'search': search, 'page': page, 'resultPerPage': resultPerPage, 'pageTotal': pageTotal, 'opportunity_type': opportunity_type} only %}

    {% else %}
        {{ 'No Results found for: '|t }}{{ search }}
    {% endif %}
{% endif %}
