{% set params = {} %}
{% if search %}
    {% set params = params|merge({'search': search}) %}
{% endif %}
{% if opportunity_type %}
    {% set params = params|merge({'opportunity_type': opportunity_type}) %}
{% endif %}
{% if country %}
    {% set params = params|merge({'country': country}) %}
{% endif %}

{% if opportunity is not empty %}
    
    
    {% if token %}
        <div class="status-summary continue-with-application-status" aria-live="assertive">
            <div class="column-two-thirds">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{ 'Thank you for verifying your email address '|t }}
                    <span class="bold-small">{{ email }}</span>
                </p>
            </div>
            <div class="column-one-third">
                <a tabindex="0" class="button-brand js-continue-focus" href="#express_your_interest" title="Apply for this opportunity">{{ 'Continue with application'|t }}</a>
            </div>
        </div>
        
    {% endif %}
    <div>
        <div>
            <a class="back-link"
               href="{{ url('opportunities.search', params) }}">
                {{ '&lt; &nbsp;Back to search results'|t }}
            </a>
        </div>
        <div class="content-heading">
            <h1 tabindex="0">{{ 'Partnering opportunity'|t }}</h1>
            <h2 class="heading-large" tabindex="0">{{ opportunity._source.title }}</h2>
            <div class="meta">
                <div class="meta-data">
                    <label>{{ 'Country of origin:'|t }}</label>
                    <p>
                        {% set flag = opportunity._source.country_code|lower %}
                        {% if flag == 'uk' %}
                            {% set flag = 'gb' %}
                        {% endif %}
                        <span class="flag-icon flag-icon-{{ flag }}"></span>
                        {{ opportunity._source.country }}
                    </p>
                </div>
                {% if opportunity._source.date|date('U') > '-5 days'|date('U') %}
                    <div class="meta-data">
                        <label>{{ 'Last updated:'|t }}</label>
                        <p>{{ opportunity._source.date|time_diff }}</p>
                    </div>
                {% endif %}
                <div class="meta-data">
                    <label>{{ 'Opportunity ID:'|t }}</label>
                    <p tabindex="0" aria-label="{{ opportunity._id|split('')|join(' ') }}"><span aria-hidden="true">{{ opportunity._id }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row grid-row-1">
        <div class="column-one-third sticky-nav-container">

            <div class="contents-list sticky-sidebar">
                <h3 class="heading-medium sticky-sidebar-header" tabindex="0">{{ 'Contents'|t }}</h3>
                <ul class="sticky-sidebar-content">
                    <li><a href="#summary">{{ 'Summary'|t }}</a></li>
                    <li><a href="#description">{{ 'Description'|t }}</a></li>
                    <li><a href="#partner_expertise_sought">{{ 'Partner expertise sought'|t }}</a></li>
                    <li><a href="#advantages_and_innovations">{{ 'Advantages and innovations'|t }}</a></li>
                    <li><a href="#development_stage">{{ 'Development stage'|t }}</a></li>
                    <li><a href="#ipr">{{ 'Intellectual Property Rights (IPR)'|t }}</a></li>
                </ul>

                <a tabindex="0" class="button-brand" href="#express_your_interest">Contact this company</a>
            </div>
        </div>
        <div class="column-two-thirds contents-text-block">
            <h3 class="heading-medium" id="summary" tabindex="0">{{ 'Summary'|t }}</h3>
            <p>
                {% if opportunity._source.summary %}
                    {{ opportunity._source.summary|raw }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="description" tabindex="0">{{ 'Description'|t }}</h3>
            <p>
                {% if opportunity._source.description %}
                    {{ opportunity._source.description|raw }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="partner_expertise_sought" tabindex="0">{{ 'Partner expertise sought'|t }}</h3>
            <p>
                {% if opportunity._source.partner_expertise %}
                    {{ opportunity._source.partner_expertise|raw }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="advantages_and_innovations" tabindex="0">{{ 'Advantages and innovations'|t }}</h3>
            <p>
                {% if opportunity._source.advantage %}
                    {{ opportunity._source.advantage|raw }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="development_stage" tabindex="0">{{ 'Development stage'|t }}</h3>
            <p>
                {% if opportunity._source.stage %}
                    {{ opportunity._source.stage|raw }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <h3 class="heading-medium" id="ipr" tabindex="0">{{ 'Intellectual Property Rights (IPR)'|t }}</h3>
            <p>
                {% if opportunity._source.ipr or opportunity._source.ipr_comment %}
                    {{ opportunity._source.ipr }}
                    {{ opportunity._source.ipr_comment }}
                {% else %}
                    {{ 'Not available'|t }}
                {% endif %}
            </p>
            <div id="navstop"></div>
        </div>
    </div>
    <hr/>
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-medium single-header-one-col"
                id="express_your_interest" tabindex="0">{{ 'Contact this company'|t }}</h3>
        </div>
        <div class="column-two-thirds">

            <div class="progressor">
                <h3 tabindex="0">How it works</h3>
                <div class="step-container">
                    <ul class="progressbar">
                        <li class="active step1" tabindex="0"><span>Submit your application to EEN</span></li>
                        <li class="step2" tabindex="0"><span>Later, EEN sends applications to client</span></li>
                        <li class="step3" tabindex="0"><span>Then, the client selects winning application(s)</span></li>
                    </ul>
                </div>
            </div>

            {% if token == false %}
                <div class="verify-email">
                    {{ form_email }}
                    <p>To apply for this opportunity we need to check you're a real person.</p>

                    <p>Enter your email above, check your inbox and click on the link we've sent you to continue this application.</p>
                </div>
                <div class="transp">
            {% endif %}
                
                
            
                <form action="{{ form['#action'] }}" method="{{ form['#method'] }}" class="form-opportunities">

                    {#Required hidden field for drupal form#}
                    {{ form.form_build_id }}
                    {{ form.form_id }}

                    <div class="form-section">
                        {{ form.description }}
                    </div>
                    <div class="form-section">
                        {{ form.interest }}
                    </div>
                    <div class="form-section">
                        {{ form.more }}
                    </div>
                    {{ form.email }}
                    <div class="eoi-phone-number">
                        {{ form.phoneStatus }}
                        {{ form.phone }}
                    </div>
                    <hr />
                    <div>
                        <h4 class="heading-small" tabindex="0">{{ 'By submitting this information, I understand that:'|t }}</h4>
                        <ul class="bullets">
                            <li>{{ 'We will be in touch within 2 days'|t }}</li>
                            <li>
                                {{ 'As per the '|t }}
                                <a href="#">{{ 'privacy policy'|t }}</a>,
                                {{ 'my personal information will not be shared.' }}
                            </li>
                            <li>{{ 'Information I provide in this application can be shared with the potential partner in question after an EEN adviser has reviewed it and deemed it is what the receiving client is looking for.'|t }}</li>
                            <li>{{ 'If we connect you, our involvement will step back a bit, but you need to keep us informed of follow on discussions and negotiations.'|t }}</li>
                        </ul>
                    </div>
                    {{ form.actions }}
                </form>
            {% if token is not null %}
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}
