<div class="grid-row">
    <div class="column-one-half">
        
        <h1 class="heading-large">Companies house search</h1>
        <form action="{{ form['#action'] }}" method="POST" class="form-opportunities">
            <div class="form-section">
                {{ form.description }}
            </div>

            <div class="form-section">
                {{ form.company_number }}
            </div>
            
            <div class="form-section">
                {{ form.company_postcode }}
            </div>

            {{ form.actions }}
            
            
            <div class="form-group" id="ch_search-results">
                <ul class="companies-house-list"></ul>
            </div>
        </form>
        
    </div>
</div>