{% set params = {} %}
{% if search %}
    {% set params = params|merge({'search': search}) %}
{% endif %}
{% if opportunity_type %}
    {% set params = params|merge({'opportunity_type': opportunity_type}) %}
{% endif %}

<div class="content-heading">
    <h1>{{ 'Partnering Opportunities'|t }}</h1>
    <h2 class="heading-large">{{ 'Find international partners'|t }}</h2>
    <h3>{{ 'Search for partners to manufacture, distribute co-develop and supply your products, ideas and business.'|t }}</h3>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <div class="filter-container">
            <p class="font-xsmall">You can use the filters to show only results that match your interests</p>
            {{ form }}
        </div>
    </div>
    <div class="column-two-thirds">

        <div class="row" ng-show="heading.searched" ng-cloak ng-class="{ transp: heading.searching }">
            <h3 class="heading-xlarge">{[{ heading.total }]} <span class="font-xsmall"> <ng-pluralize count="heading.total"
                when="{'0': 'opportunities',
                       'one': 'opportunity',
                       'other': 'opportunities'}"></span></h3>
        </div>

        <div class="row row-bordered" ng-show="heading.searched" ng-repeat="row in results" ng-cloak ng-class="{ transp: heading.searching }">
            <h3>
                <a href="" id="opportunity-link">
                    {[{ row.title }]}
                </a>
            </h3>

            <p class="meta-inline font-small">
                {# lastupdated #}
                {[{ row.date }]}

                {# organisation id #}
                {[{ row.id }]} |

                {# Country of origin #}
                {[{ row.country_code }]}
                <span ng-class="getFlagClass(row.country_code)"></span>
                {[{ row.country }]}
            </p>
        </div>

        {% if results is not null %}
            {% if total > 0 %}
                <div class="row" ng-show="!heading.searched">
                    <h3 class="heading-xlarge">{{ total }} <span class="font-xsmall">{{ 'opportunities '|t }}</span></h3>
                </div>
                {% for row in results %}
                    <div class="row row-bordered" ng-show="!heading.searched">
                        <h3>
                            <a href="{{ url('opportunities.details', params|merge({'profileId': row.id})) }}" id="opportunity-link">
                                {{ row.title }}
                            </a>
                        </h3>

                        <p class="meta-inline font-small">
                            {# lastupdated #}
                            {% if row.date|date('U') > '-5 days'|date('U') %}
                                {{ row.date|time_diff }} |
                            {% endif %}

                            {# organisation id #}
                            {{ row._id }} |

                            {# Country of origin #}
                            {% set flag = row.country_code|lower %}
                            {% if flag == 'uk' %}
                                {% set flag = 'gb' %}
                            {% endif %}
                            <span class="flag-icon flag-icon-{{ flag }}"></span>
                            {{ row.country }}
                        </p>
                    </div>

                {% endfor %}

                {% include 'themes/custom/een/templates/pagination.html.twig'
                with {
                'route': route,
                'params': params,
                'page': page,
                'resultPerPage': resultPerPage,
                'pageTotal': pageTotal
                } only %}

            {% else %}
                {{ 'No Results found for: '|t }}{{ search }}
            {% endif %}
        {% endif %}
    </div>
</div>
