<div class="content-heading">
    <h1>{{ 'Partnering opportunities'|t }}</h1>
    <h2 tabindex="0" class="heading-large">{{ 'Find a business to partner with, globally'|t }}</h2>
    <h3 tabindex="0">{{ 'Search for SME and academic partners to manufacture, distribute, co-develop and supply your products, ideas and business.'|t }}</h3>
</div>

<div class="grid-row">
    <div class="column-fullwidth">
        <div class="column-full">
            <br />
            <br />

            <div class="sentence-builder">
                <p>I'm looking for <span id="keywords" class="block" contenteditable="true" aria-label="Enter a keyword e.g. battery or engineering">Enter sector or product</span> partners
                    <span class="dropdown empty" tabindex="0" id="search_type" aria-label="partners to do"><span class="chosen">to do</span>  <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    located
                    <span class="dropdown empty" tabindex="0" id="search_country" aria-label="in"><span class="chosen">in</span> <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </p>

                <div>

                    
                    <div class="modal" aria-live="assertive">
                        <div class="modal-holder">
                            {{ form }}
                        </div>
                    </div>
                </div>
            </div>

            <p class="sb-results-wrapper"><span tabindex="0" class="sb-results" aria-live="assertive"></span> <a href="/opportunities" class="button button--primary disabled js-sb-view-results sb-view-results js-spb-click">View Results</a></p>
            <p><a href="/opportunities">No thanks, let me see all opportunities</a></p>
        </div>

    </div>
</div>


<div class="results-list">
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-medium single-header-one-col">Latest opportunities</h3>
        </div>
        <div class="column-two-thirds">

            {% for row in results %}

                <div class="row row-bordered" ng-show="!meta.searched"
                     ng-class="{ transp: meta.paging || meta.searching }">
                    <h3 class="results-list-heading-item" tabindex="0">
                        <a href=""
                           id="opportunity-link">
                            {{ row.title|raw }}
                        </a>
                    </h3>

                    <p class="description">{{ row.summary| truncate(240, true) | raw }} <a
                                href="">more</a>
                    </p>

                    <p class="meta-inline font-small">
                        {# lastupdated #}
                        {% if row.date|date('U') > '-5 days'|date('U') %}
                            {{ row.date|time_diff }} |
                        {% endif %}


                        {# Country of origin #}
                        {% set flag = row.country_code|lower %}
                        {% if flag == 'uk' %}
                            {% set flag = 'gb' %}
                        {% endif %}
                        <span class="flag-icon flag-icon-{{ flag }}"></span>
                        {{ row.country }}
                    </p>
                </div>

            {% endfor %}

            <a href="/opportunities" class="button button--primary">View all opportunities</a>

        </div>
    </div>
</div>

