{% set params = {} %}
{% if search %}
    {% set params = params|merge({'search': search}) %}
{% endif %}
{% if opportunity_type %}
    {% set params = params|merge({'opportunity_type': opportunity_type}) %}
{% endif %}
{% if country %}
    {% set params = params|merge({'country': country}) %}
{% endif %}

<div class="content-heading">
    <h1 tabindex="0">{{ 'Partnering opportunities'|t }}</h1>
    <h2 class="heading-large" tabindex="0">{{ 'Find international partners'|t }}</h2>
    <h3>{{ 'Search for SME and academic partners to manufacture, distribute, co-develop and supply your products, ideas and business.'|t }}</h3>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <div class="filter-container">
            {{ form }}
        </div>
    </div>
    <div class="column-two-thirds"  aria-live="assertive">
        <div class="row" ng-show="meta.searched" ng-cloak ng-class="{ transp: meta.searching }">
            <h3 class="heading-xlarge results-list-heading" tabindex="0" aria-live="assertive">
                {[{ data.total | number }]}
                <span class="font-xsmall">
                    <ng-pluralize count="data.total"
                                  when="{'0': 'opportunities found', 'one': 'opportunity found','other': 'opportunities found'}"/>
                </span>
            </h3>
        </div>

        <div class="row" ng-show="!meta.searched" ng-class="{ transp: meta.searching }">
            <h3 class="heading-xlarge gov uk results-list-heading" tabindex="0">{{ total|number_format(0, '.', ',') }}
                <span class="font-xsmall">{{ 'opportunities '|t }}</span></h3>
        </div>

        <div class="results-list">
            <h4 tabindex="0" class="list-subtext">Get updates to this list 
                <a href="#" class="follow-list" tabindex="0"><i class="fa fa-envelope" aria-hidden="true"></i> Email<span tabindex="0" class="sr-only">Receive email updates on this search</span></a> 
                <a href="#" class="follow-list" tabindex="0"><i class="fa fa-rss" aria-hidden="true"></i> RSS<span tabindex="0" class="sr-only">Receive RSS updates on this search</span></a>
            </h4>
            <div class="contents-text-block">
                <h3 tabindex="0" class="sr-only">The search results below each have a summary which you may find useful
                    in determining if the opportunity is what you’re looking for.</h3>
            </div>
            <div class="row row-bordered" ng-show="meta.searched" ng-repeat="row in results" ng-cloak
                 ng-class="{ transp: meta.searching }">
                <h3 class="results-list-heading-item" tabindex="0">
                    <a ng-href="/opportunities/{[{row.id}]}" id="opportunity-link" ng-bind-html="row.title | unsafe">
                        {[{ row.title }]}</span>
                    </a>
                </h3>

                <p class="description" ng-bind-html="row.summary | cut:true:247:'... ':row.id | unsafe">
                    {[{ row.summary }]}
                </p>

                <p class="meta-inline font-small">
                    {# lastupdated #}
                    {[{ row.date }]}

                    <span ng-class="getFlagClass(row.country_code)" role="presentation"></span>
                    <span class="sr-only">Country of origin </span>{[{ row.country }]}
                </p>
            </div>

            {% for row in results %}

                <div class="row row-bordered" ng-show="!meta.searched"
                     ng-class="{ transp: meta.paging || meta.searching }">
                    <h3 class="results-list-heading-item">
                        <a href="{{ url('opportunities.details', params|merge({'profileId': row.id})) }}"
                           id="opportunity-link">
                            {{ row.title|raw }}
                        </a>
                    </h3>

                    <p class="description">{{ row.summary| truncate(240, true) | raw }} <a
                                href="{{ url('opportunities.details', params|merge({'profileId': row.id})) }}">more</a>
                    </p>

                    <p class="meta-inline font-small">
                        {# lastupdated #}
                        {% if row.date|date('U') > '-5 days'|date('U') %}
                            {{ row.date|time_diff }} |
                        {% endif %}


                        {# Country of origin #}
                        {% set flag = row.country_code|lower %}
                        {% if flag == 'uk' %}
                            {% set flag = 'gb' %}
                        {% endif %}
                        <span class="flag-icon flag-icon-{{ flag }}"></span>
                        {{ row.country }}
                    </p>
                </div>

            {% endfor %}
        </div>

        {% include 'themes/custom/een/templates/navigation/pagination.html.twig'
        with {
        'route': route,
        'params': params,
        'page': page,
        'resultPerPage': resultPerPage,
        'pageTotal': pageTotal,
        'ajax': true
        } only %}

    </div>
    
</div>
