{% if params is empty %}
    {% set params = {} %}
{% endif %}
{% if ajax is not defined %}
    {% set ajax = false %}
{% endif %}
<ul class="previous-next-navigation">
    <!-- Previous page link -->
    {% if page > 1 %}
        <li class="previous" {% if ajax == true %}ng-show="!meta.searched"{% endif %}>
            <a id="pagination-previous" href="{{ url(route, {'page': page - 1}|merge(params)) }}" {% if ajax == true %}ng-click="prev($event)"{% endif %}>
                {{ 'Previous'|t }} <span class="visuallyhidden">{{ 'page'|t }}</span>
                <span class="page-numbers">{{ page - 1 }} {{ 'of'|t }} {{ pageTotal }}</span>
            </a>
        </li>
    {% endif %}

    {% if page < pageTotal %}
        <li class="next" {% if ajax == true %}ng-show="!meta.searched"{% endif %}>
            <a id="pagination-next" tabindex="0" href="{{ url(route, {'page': page + 1}|merge(params)) }}" {% if ajax == true %}ng-click="next($event)"{% endif %}>
                {{ 'Next'|t }} <span class="visuallyhidden">{{ 'page'|t }}</span>
                <span class="page-numbers">{{ page + 1 }} {{ 'of'|t }} {{ pageTotal }}</span>
            </a>
        </li>
    {% endif %}

    {% if ajax == true %}
        <li class="previous" ng-show="meta.searched && data.page > 1" ng-cloak>
            <a id="pagination-previous" ng-click="prev($event)">
                Previous <span class="visuallyhidden">page</span>
                <span class="page-numbers">{[{ data.page - 1 }]} of {[{ data.pageTotal }]}</span>
            </a>
        </li>

        <li class="next" ng-show="meta.searched && data.page < data.pageTotal" ng-cloak>
            <a id="pagination-next" tabindex="0" ng-click="next($event)">
                Next <span class="visuallyhidden">page</span>
                <span class="page-numbers">{[{ data.page + 1 }]} of {[{ data.pageTotal }]}</span>
            </a>
        </li>
    {% endif %}

</ul>
