<div class="grid-row">
    <div class="column-full">
        <div class="form-heading header-secondary">
            <h1 class="heading-large" tabindex="0">Thank you for applying for this project</h1>
            <p>To complete your project application please create an account</p>
        </div>
    </div>

    <div class="column-two-thirds">

        <form action="{{ form['#action'] }}" method="{{ form['#method'] }}" class="form-companies-house-search">

            {#Required hidden field for drupal form#}
            {{ form.form_build_id }}
            {{ form.form_id }}

            <p class="heading-medium step" tabindex="0">Step 2 of 3</p>
            <h2 class="heading-large">Your company</h2>
            <div class="form-section">
                {{ form.company_name }} {{ form.search }}
                <div class="form-group" id="ch_search-results">
                    <ul class="companies-house-list"></ul>
                </div>
            </div>

            <div class="form-section">
                {{ form.company_number }}
            </div>

            <div class="form-section">
                {{ form.no_company_number }}
            </div>

            <div class="form-section">
                {{ form.website }}
            </div>

            <div class="form-section">
                {{ form.company_phone }}
            </div>

            <div class="form-section">
                {{ form.actions }}
            </div>

        </form>

    </div>
</div>