<div class="key-insights">
    <div class="container">
        <h2 class="section-title">{{ label }}</h2>
        <div class="col-1">
            <div>
                {{ items[0].content }}
                {{ items[1].content }}
            </div>
        </div>
        <div class="col-2">
            <div>
                <div class="boxes-container">
                    {{ items[2].content }}
                    {{ items[3].content }}
                </div>
                <div class="box-container">
                    {{ items[4].content }}
                </div>
            </div>
            {{ items[5].content }}
        </div>
    </div>
</div>